<div class="content">
  <h2>Olá, {{ student_name }}</h2>
  <p>Sua dúvida foi respondida! Confira abaixo:</p>
  <p>
    <strong>Pergunta: </strong> {{ question }} <br />
    <strong>Resposta: </strong> {{ answer }} <br />
    <p>
      Caso tenha outra dúvida, fique a vontande para entrar em contato novamente!.
    </p>
  </p>
</div>
