<strong>Olá, {{ student_name }}</strong>
<p>Sua dúvida foi respondida! Confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <p>
    Caso tenha outra dúvida, fique a vontande para entrar em contato novamente!.
  </p>
</p>
